<script src="assets/components/template/js/jquery-1.12.4.min.js"></script>
<script src="assets/components/template/js/popper.min.js"></script>
<script src="assets/components/template/js/bootstrap.min.js"></script>
<script src="assets/components/template/js/script.js"></script>