@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?83qkbt');
  src:  url('../fonts/icomoon.eot?83qkbt#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?83qkbt') format('truetype'),
        url('../fonts/icomoon.woff?83qkbt') format('woff'),
        url('../fonts/icomoon.svg?83qkbt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */

  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-carozy:before {
  content: "\e900";
  font-family: 'icomoon' !important;
}
.icon-home:before {
  content: "\e901";
  font-family: 'icomoon' !important;
}
.icon-water:before {
  content: "\e902";
  font-family: 'icomoon' !important;
}
.icon-small-check:before {
  content: "\e903";
  font-family: 'icomoon' !important;
}
.icon-nose:before {
  content: "\e905";
  font-family: 'icomoon' !important;
}
.icon-paint:before {
  content: "\e906";
  font-family: 'icomoon' !important;
}
.icon-wash:before {
  content: "\e909";
  font-family: 'icomoon' !important;
}
.icon-down-arrow:before {
  content: "\e911";
  font-family: 'icomoon' !important;
}
.icon-clean:before {
  content: "\e912";
  font-family: 'icomoon' !important;
}
.icon-like:before {
  content: "\e913";
  font-family: 'icomoon' !important;
}
.icon-stamp:before {
  content: "\e914";
  font-family: 'icomoon' !important;
}
.icon-hummer:before {
  content: "\e915";
  font-family: 'icomoon' !important;
}
.icon-snow:before {
  content: "\e91f";
  font-family: 'icomoon' !important;
}
.icon-detail:before {
  content: "\e920";
  font-family: 'icomoon' !important;
}
.icon-dearty:before {
  content: "\e924";
  font-family: 'icomoon' !important;
}
.icon-scratch:before {
  content: "\e92c";
  font-family: 'icomoon' !important;
}
.icon-strong:before {
  content: "\e92d";
  font-family: 'icomoon' !important;
}
.icon-time:before {
  content: "\e933";
  font-family: 'icomoon' !important;
}
.icon-sand-watch:before {
  content: "\e934";
  font-family: 'icomoon' !important;
}
.icon-cross-arrows:before {
  content: "\e936";
  font-family: 'icomoon' !important;
}
.icon-close:before {
  content: "\e904";
  font-family: 'icomoon' !important;
}
.icon-check:before {
  content: "\e90c";
  font-family: 'icomoon' !important;
}
.icon-toggle:before {
  content: "\e916";
  font-family: 'icomoon' !important;
}
.icon-left:before {
  content: "\e919";
  font-family: 'icomoon' !important;
}
.icon-right:before {
  content: "\e91a";
  font-family: 'icomoon' !important;
}
