/*
	500 - medium
	900 - extraBold
*/

@font-face {
	font-family: 'Fontfabric - Muller';
	src: url('../fonts/Fontfabric - MullerRegular.eot');
	src: url('../fonts/Fontfabric - MullerRegular.woff') format('woff'),
		 url('../fonts/Fontfabric - MullerRegular.ttf') format('truetype'),
		 url('../fonts/Fontfabric - MullerRegular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Fontfabric - Muller';
	src: url('../fonts/Fontfabric - MullerMedium.eot');
	src: url('../fonts/Fontfabric - MullerMedium.woff') format('woff'),
		 url('../fonts/Fontfabric - MullerMedium.ttf') format('truetype'),
		 url('../fonts/Fontfabric - MullerMedium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Fontfabric - Muller';
	src: url('../fonts/Fontfabric - MullerExtraBold.eot');
	src: url('../fonts/Fontfabric - MullerExtraBold.woff') format('woff'),
		 url('../fonts/Fontfabric - MullerExtraBold.ttf') format('truetype'),
		 url('../fonts/Fontfabric - MullerExtraBold.svg') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Fontfabric - Muller';
	src: url('../fonts/Fontfabric - MullerBold.eot');
	src: url('../fonts/Fontfabric - MullerBold.woff') format('woff'),
		 url('../fonts/Fontfabric - MullerBold.ttf') format('truetype'),
		 url('../fonts/Fontfabric - MullerBold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}
