html, body {
	color: #fff;
	font-family: 'Fontfabric - Muller', sans-serif;
	font-size: 14px;
	height: 100%;
	margin: 0;
	padding: 0;
}
.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.content {
	flex: 1 0 auto;
}
footer {
	flex: 0 0 auto;
}
.relative{
	position: relative;
}
.absolut{
	position: absolute;
}
.slick-slide:focus{
	outline: none;
}
a:focus{
	outline: none;
}
		/*HEADER*/
header{
	background: #196396;
}
.logo-wrapper{
	height: 60px;
	position: relative;
}
.light-block{
	background: #fff;
	border-radius: 50%;
	box-shadow: 0 0 60px 10px #fff,0 0 60px 10px #fff;
	height: 64px;
	left: 40px;
	position: absolute;
	top: 17px;
	width: 64px;
}
.logo-header{
	left: 23px;
	position: absolute;
	top: 11px;
}
.slogan-header{
	display: block;
	font-weight: 500;
	line-height: 17px;
	text-transform: uppercase;
}
.buy-btn{
	background: #ffe533;
	border-radius: 21px;
	box-shadow: 2px 3px 0 0 rgba(1, 31, 51, 1);
	color: #000;
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
	padding: 8px 40px;
}
.buy-btn:hover{
	background: #fddd00;
	color: #000;
	text-decoration: none;
}
.buy-btn:focus{
	box-shadow: 2px 3px 0 0 rgba(1, 31, 51, 1) inset;
	color: #000;
	text-decoration: none;
}
.phone{
	color: #fff;
	font-size: 17px;
}
.phone:hover{
	color: #fff;
}
		/*END HEADER*/

		/*BLOCK1*/
.block1{
	background: url("../image/block1.jpg") top no-repeat;
	background-size: cover;
}
.pic-block{
	height: 100%;
	position: relative;
}
.light-block-banka{
	background: #fff;
	border-radius: 95px;
	box-shadow: 0 0 128px 0 #2d89ff;
	bottom: 20px;
	height: 327px;
	left: 10px;
	position: absolute;
	width: 226px;
}
.bottom-shadow-banka{
	background: rgba(0,0,0,.58);
	border-radius: 50%;
	bottom: -33px;
	filter: blur(5px);
	height: 53px;
	left: -7px;
	position: absolute;
	width: 264px;
}
.banka{
	bottom: -27px;
	left: 3px;
	position: absolute;
}
.yellow-number{
	color: #ffe533;
	font-size: 85px;
	font-weight: 900;
	line-height: 70px;
	margin-top: 55px;
	text-shadow: 0 3px 4px rgba(0, 0, 0, 0.6);
}
.product-name{
	font-size: 60px;
	font-weight: 900;
	line-height: 60px;
	text-shadow: 0 3px 4px rgba(0, 0, 0, 0.6);
}
.desc-block{
	margin: 35px 0 45px;
	position: relative;
}
.desc-block:before{
	color: #0000ff;
	content: "\e914";
	font-family: 'icomoon' !important;
	font-size: 200px;
	line-height: 183px;
	position: absolute;
	right: 30px;
	text-shadow: -1px -2px 0 rgba(55, 0, 0, 1), 1px 2px 0 rgba(255, 255, 255, 0.7);
	top: -19px;
	z-index: 1;
}
.product-description{
	background: #ffe533;
	border-radius: 19px 0 0 19px;
	color: #000;
	font-size: 26px;
	font-weight: 900;
	padding-left: 60px;
	position: relative;
	width: 552px;
}
.product-description + .product-description{
	margin-top: 10px;
}
.product-description:before{
	font-size: 30px;
	left: 8px;
	top: -4px;
}
.desc1:before{
	content: "\e906";
	font-family: 'icomoon' !important;
	position: absolute;
}
.desc2:before{
	content: "\e933";
	font-family: 'icomoon' !important;
	position: absolute;
}
.desc3:before{
	content: "\e91f";
	font-family: 'icomoon' !important;
	position: absolute;
}
		/*END BLOCK1*/

		/*BLOCK2*/
.block2{
	background: url("../image/block2.jpg") top no-repeat;
	background-size: cover;
}
.product-plus{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 15px;
	margin-top: 60px;
}
.plus-item{
	align-items: center;
	display: flex;
	margin-bottom: 15px;
	width: 50%;
}
.plus-text{
	font-size: 20px;
	font-weight: 900;
	line-height: 24px;
	text-transform: uppercase;
}
.plus-icon{
	align-items: center;
	background: #ffd24f;
	border-radius: 50%;
	display: flex;
	flex-shrink: 0;
	height: 55px;
	justify-content: center;
	margin-right: 14px;
	width: 55px;
}
.plus-icon:before{
	color: #17184f;
	font-size: 50px;
	line-height: 39px;
}
.white-block1{
	background: url("../image/white-block1.jpg") top no-repeat;
	background-size: cover;
	color: #222;
	height: 100%;
	padding: 120px 20px 0;
}
.white-block1-head{
	font-size: 24px;
	font-weight: 900;
	line-height: 30px;
	margin-bottom: 40px;
	text-transform: uppercase;
}
.white-block1-text{
	font-size: 16px;
	font-weight: bold;
	line-height: 30px;
}
		/*END BLOCK2*/

		/*BLOCK3*/
.block3{
	background: url("../image/block3.jpg") top no-repeat;
	background-size: cover;
	padding: 60px 0 65px;
}
.video-frame{
	border: 1px solid;
	border-color: #f2eee9 transparent transparent #f2eee9;
	height: 410px;
	width: 100%;
}
.carousel-indicators {
	bottom: -23px;
	cursor: pointer;
}
.white-block2{
	background: url("../image/white-block2.jpg") bottom no-repeat, #fff;
	color: #222;
	height: calc(100% + 155px);
	margin: -90px 0 -65px;
}
.white-block-head{
	font-size: 18px;
	font-weight: bold;
	padding-left: 20px;
	text-transform: uppercase;
}
.list-item{
	line-height: 16px;
	margin-top: 15px;
	padding-left: 50px;
	position: relative;
}
.list-item:before{
	background: url("../image/check.png") top no-repeat;
	content: '';
	display: inline-block;
	height: 9px;
	left: 25px;
	position: absolute;
	top: 0;
	width: 12px;
}
		/*END BLOCK3*/

		/*BLOCK4*/
.block4{
	background: url("../image/block4.jpg") top no-repeat;
	background-size: cover;
	padding: 60px 0;
}
.bottom-logo{
	margin-top: 40px;
	text-align: center;
}
.block4-head{
	font-size: 26px;
	font-weight: bold;
	line-height: 30px;
}
.block4-text{
	font-weight: bold;
	line-height: 25px;
	margin-top: 25px;
}
.block4-text a {
	color: #ffffff;
}
.block4-text a:hover {
	color: #ffffff;
	text-decoration: underline;
}
		/*END BLOCK4*/

		/*FOOTER*/
footer{
	background: #2a2a2a;
	padding: 12px 0;
}
#semUP{
	color: #fff;
	font-size: 12px;
	text-decoration: underline;
}
#semUP:hover{
	color: #fff;
	text-decoration: none;
}
		/*END FOOTER*/

		/*RESPONSIVE*/

@media (max-width: 991px){
	.banka{
		max-width: 100%;
	}
	.light-block-banka{
		display: none;
	}
	.bottom-shadow-banka{
		width: 230px;
	}
	.yellow-number{
		font-size: 80px;
		line-height: 50px;
	}
	.product-name{
		font-size: 54px;
		line-height: 50px;
	}
	.product-description{
		width: auto;
	}
	.desc-block:before{
		font-size: 140px;
		line-height: 140px;
		right: 0;
		top: -130px;
	}
	.white-block1{
		background: url("../image/block-5.png") top no-repeat, #fff;
		padding: 40px 20px 0;
	}
	.block3{
		padding: 0;
	}
	.white-block2{
		background: url("../image/block-5.png") bottom no-repeat, #fff;
		height: auto;
		margin: 0;
		padding: 20px 0 40px;
	}
	#video{
		margin: 40px 0;
	}
	.block4{
		padding: 20px 0 40px;
	}
	.block4-head{
		margin-top: 20px;
		text-align: center;
	}
}
@media (max-width: 767px){
	.logo-wrapper{
		display: inline-block;
		margin-bottom: 50px;
		width: 150px;
	}
	.plus-item{
		width: 100%;
	}


}
@media (max-width: 575px){
	.buy-btn{
		margin-top: 15px;
	}
	.yellow-number{
		font-size: 60px;
	}
	.product-name{
		font-size: 34px;
		line-height: 40px;
	}
	.product-description{
		font-size: 16px;
		padding: 5px 0 5px 50px;
	}
	.desc-block:before{
		top: -200px;
	}
	.desc-block{
		margin: 35px 0 30px;
	}
	.product-plus{
		margin-top: 30px;
	}
	#video{
		height: 250px;
	}
	.block4-text{
		text-align: justify;
	}
}
@media (max-width: 410px){
	.desc-block:before{
		font-size: 100px;
	}
	.plus-text{
		font-size: 16px;
	}
}
		/*END RESPONSIVE*/